h2{
    color:darkcyan;
    font-size: 30px;
}
pre{
    color: green;
    font-size: 25px;
}
h4{
    color: crimson;
    font-size: 22px;
}
span{
    color: indigo;
    font-size: 20px;
}
h3{
    color:maroon;
    font-size: 27px;
}